@using System.Collections.Generic;
@using Lightning.Lib.ViewComponents;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var variant = (AlertVariant)ViewData["Variant"];
    var classes = new Dictionary<AlertVariant, string>
{ {
            AlertVariant.Info,"slds-theme_info"
        },
        {
            AlertVariant.Warning,"slds-theme_warning"

        },
        {
            AlertVariant.Error,"slds-theme_error"
        },
         {
            AlertVariant.Offline,"slds-theme_offline"
        }
    };
}
<div class="slds-notify slds-notify_alert slds-theme_alert-texture @classes[variant]" role="alert">
    <span class="slds-assistive-text">info</span>
    <span class="slds-icon_container slds-icon-utility-user slds-m-right_x-small" title="Description of icon when needed">
        <svg class="slds-icon slds-icon_x-small" aria-hidden="true">
            <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#user"></use>
        </svg>
    </span>
    <h2>
        @ViewData["Title"]
        @*<a href="javascript:void(0);">Log out</a>*@
    </h2>
    <div class="slds-notify__close">
        <button class="slds-button slds-button_icon slds-button_icon-small slds-button_icon-inverse" title="Close">
            <svg class="slds-button__icon" aria-hidden="true">
                <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
            </svg>
            <span class="slds-assistive-text">Close</span>
        </button>
    </div>
</div>
