@page
@{
    ViewData["Title"] = "Buttons";
}
<vc:page-header title="Buttons" icon-sprite="Standard" icon-name="account"></vc:page-header>
<button slds-button>Button</button>
<button slds-button variante="Neutral">
   
    Neutral Button
</button>
<button slds-button variante="Brand">Brand Button</button>
<button slds-button variante="OutlineBrand">Outline Brand Button</button>
<button slds-button variante="Destructive">Destructive Button</button>

<button slds-button slds-button-icon variante="Brand" icon-sprite="Utility" icon-name="search">Brand Button</button>
@*<button slds-button class="slds-button_text-destructive">Text Destructive Button</button>
    <button slds-button class="slds-button_success">Success Button</button>*@





