@page
@{
    ViewData["Title"] = "Buttons";
}

<button slds-button>Button</button>
<button slds-button variante="Neutral">
    <slds-icon sprite="Utility" icon="download"></slds-icon>
    Neutral Button
</button>
<button slds-button variante="Destructive">Brand Button</button>
<button slds-button variante="OutlineBrand">Outline Brand Button</button>
<button slds-button variante="Destructive">Destructive Button</button>
@*<button slds-button class="slds-button_text-destructive">Text Destructive Button</button>
    <button slds-button class="slds-button_success">Success Button</button>*@



<span class="slds-icon_container slds-icon-utility-announcement" title="Description of icon when needed">
    @*<svg class="slds-icon slds-icon-text-default" aria-hidden="true">
            <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#announcement"></use>
        </svg>*@
    <slds-icon sprite="Utility" icon="announcement" icon-color="Success"></slds-icon>
    <span class="slds-assistive-text">Description of icon when needed</span>
</span>

