@page
@{
    ViewData["Title"] = "Icons";
}

<vc:page-header title="Icons" icon-sprite="Standard" icon-name="account"></vc:page-header>
<p>Color</p>
<slds-icon icon-sprite="Utility" icon-name="announcement">
</slds-icon>

<slds-icon icon-sprite="Utility" icon-name="announcement" icon-color="Default">
</slds-icon>
<slds-icon icon-sprite="Utility" icon-name="announcement" icon-color="Warning">
</slds-icon>
<p>Size</p>
<slds-icon icon-sprite="Utility" icon-name="announcement" icon-size="xxSmall">
</slds-icon>

<slds-icon icon-sprite="Utility" icon-name="announcement" icon-size="xSmall">
</slds-icon>

<slds-icon icon-sprite="Utility" icon-name="announcement" icon-size="Small">
</slds-icon>

<slds-icon icon-sprite="Utility" icon-name="announcement" icon-size="Large">
</slds-icon>

